# Logs
logs/
*.log
npm-debug.log*

# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/build

# Misc
.env
.env.local
.env.*.local
.DS_Store
*.pem

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
